body { 
	font-weight: normal;
	min-height: 100vh;
}
body,  button, input, select { 
	font-family: sans-serif;
}
p { 
	line-height: 18px;
}
a {
	color: inherit;
}

/* navigation */

nav {
	background-color: #fff;
	left: 0;
	padding: 10px;
	right: 0;
	top: 0;
	z-index: 2;
}
#main-nav {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 0.25fr 4.75fr 1fr;
	position: sticky;
}
#settings-nav {
	align-items: center;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	position: fixed;
}
#open-settings {
	background-color: transparent;
	border: none;
	fill: #01ca86;
}
#search-form {
	align-items: center;
	border-left: solid 1px #01ca86;
	border-right: solid 1px #01ca86;
	display: flex;
}
#reset-button {
	background-color: transparent;
	border: none;
	fill: #01ca86;
	margin: 3px 10px 0 10px;
}
#search-input {
	border: none;
	width: 100%;
}
#engines {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(4, 1fr);
	padding: 5px;
}
.engine {
	background-color: transparent;
	opacity: 0.5;
	background: url('./assets/engines.png') no-repeat top left;
	background-size: 27px auto;
	height: 27px;
	width: 27px;
}
#ecosia {
	background-position: 0 -32px;
}
#qwant {
	background-position: 0 -95px;
}
#duckduckgo {
	background-position: 0 0;
}
#google {
	background-position: 0 -63px;
}
#bookies-counter { 
	color: #01ca86;
	margin: 0 0 2px 0;
}
#select-input {
	border: solid 1px #01ca86;
}
#pop-info {
	background-color: #01ca86;
	color: #fff;
	margin: 0;
	padding: 10px;
	grid-column: 1 / 4;
}

/* bookies */
#bookies-section {
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	min-width: 500px;
	padding: 0 10px 10px 10px;
}
.bookie {
	align-items: center;
	display: flex;
	opacity: 0.75;
	padding: 10px;
	text-decoration: none;
}
.invisible { 
	display: none;
}

/* config */
#settings {
	background-color: #fff;
	padding: 40px 10px 10px 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

h2 {
	border-bottom: solid 1px #01ca86;
	color: #01ca86;
	font-weight: normal;
}
#sets { 
	display: grid;
	grid-template-rows: auto;
	margin-top: 5px;
}
h3 { 
	font-size: 1em;
}
h4 {
	font-size: 1em;
	font-weight: normal;
	padding: 10px;
}
label {
	display: block;
	margin: 5px 0;
}
span {
	color: #01ca86;
	left: 15px;
	margin-top: 5px;
	position: absolute;
}
svg {
	pointer-events: none;
}
.set input {
	border: solid 1px #01ca86;
	padding: 5px;
	padding-left: 20px;
}
.set input:not(:focus):invalid {
	border-color: orangered;
	box-shadow: initial;
}
#save-settings {
	background-color: #01ca86;
	border-radius: 3px;
	border: none;
	color: #fff;
	font-size: 1.05em;
	padding: 10px;
}

/* TRANSITIONS - ANIMATIONS */
#open-settings svg, .bookie { transition: all 0.25s; }
#open-settings:hover svg { transform: rotateZ(115deg) scale(1.25); }
.engine:hover, .engine:focus, .bookie:hover, .bookie:focus { opacity: 1; }
#reset-button:hover, .engine:hover, .engine:focus { transform: scale(1.5); }
.closed { transform: scale(0); }
.opened { transform: initial; }

/* RESPONSIVE */
@media screen and (max-width: 400px) {
	body, #settings { padding-bottom: 50px; } /* FIREFOX ? Fix required to avoid a cutted screen when the window is less than 400px */
	#bookies-section { min-width: 300px; }
	#main-nav {
		grid-template-areas: 
			"top . ."
			"middle middle middle"
			"bottom bottom bottom";
	}
	#select-input, #bookies-counter { text-align: left; }
	#select-input { width: 100%; }
	#main-nav > div { grid-area: middle; }
	#open-settings { grid-area: top; }
	#search-form { grid-area: bottom; }
}